---
layout: default
title: Cosmetic Dentistry
---
<section class="section-header">
  <h1>{{ page.title }}</h1>
  <div class="crumbs">
    <a href="index.html">Home</a> <span>+</span> <a href="our-services.html">Services</a> <span>+</span> {{ page.title }}
  </div>
</section>
<!-- <section class="main-image bp">
  Some image here.
</section> -->
<section class="main-content">
  <div class="row">
    <div class="small-12 medium-10 medium-offset-1 columns leadin">
      <h2>Cosmetic Dentistry</h2>
      <h3>Find Your Beautiful Smile</h3>
      <p>There are many ways cosmetic dentistry can heal or enhance your smile. Cosmetic dentistry can correct spaces between your teeth, stained or discolored teeth, chipped teeth, broken or missing teeth and “gummy” smiles. We will create a customized treatment plan for you based on your goals, age and financial comfort level. <a href="contact-us.html" title="Contact Michael W. Bell, DDS, MAGD, LLSR today!">Contact us today</a> and you can look great and have a healthy smile.</p>
    </div>
  </div>
  <div class="row small-up-1 medium-up-3 technologies">
    <hr>
    <div class="column column-block">
      <h4>Porcelain Veneers</h4>
      <p>Custom made, thin strips of porcelain are adhered to the fronts of existing teeth to create a natural, beautiful smile. Crooked, discolored, chipped teeth and gaps are a thing of the past. Get the beauty and self-confidence you desire.</p>
    </div>
    <div class="column column-block">
      <h4>Tray Whitening</h4>
      <p>A beautiful, white smile is a home whitening treatment away. Our at-home treatment includes a customized whitening tray, and a prescription whitening gel. Our team will give you detailed instructions about how long you should wear the tray each day.</p>
    </div>
    <div class="column column-block">
      <h4>Lumineers</h4>
      <p>Lumineers by Cerinate is a painless procedure that gives you a straighter, whiter, more beautiful smile. These contact lens-thin "smile shapers" shape your teeth without harming your natural tooth structure, giving you a naturally beautiful smile.</p>
    </div>
    <div class="column column-block">
      <h4>Porcelain Bridges</h4>
      <p>Missing teeth due to gum disease, injury, decay or simply wear and tear don’t have to be an issue. A bridge can be used to correct the gap created by a missing tooth or missing teeth.</p>
    </div>
    <div class="column column-block">
      <h4>Porcelain Crowns</h4>
      <p>Tooth discoloration, chipping and cracking are easily repaired with a porcelain crown. After some tooth preparation, crowns are specifically fitted to restore functionality and enhance the appearance of your smile.</p>
    </div>
    <div class="column column-block">
      <h4>Tooth Colored Fillings</h4>
      <p>Having a cavity doesn't mean you have to get a silver filling. We can create a composite resin, tooth-colored filling that will restore your beautiful smile.</p>
    </div>
    <div class="column column-block">
      <h4>Bonding</h4>
      <p>Using a tooth-colored material adhered to the surface of the tooth we can correct chipped, broken, spaced and discolored teeth. We will maintain the natural structure and color of the tooth and sculpt the resin to create natural looking teeth.</p>
    </div>
    <div class="column column-block">
      <h4>Gum Contouring</h4>
      <p>Do you see a lot of your gum when you smile? This condition is treatable with advanced cosmetic procedures. We can re-contour your gum and add veneers to give you a beautiful, natural-looking smile.</p>
    </div>
  </div>
</section>
{% include featured-services.html %}
<section class="quick-contact bp">
  {% include quick-connect.html %}
</section>
