---
layout: default
title: Our Services
---
<section class="section-header">
  <h1>{{ page.title }}</h1>
  <div class="crumbs">
    <a href="index.html">Home</a> <span>+</span> {{ page.title }}
  </div>
</section>
<!-- <section class="main-image bp">
  Some image here.
</section> -->
<section class="main-content">
  <div class="row">
    <div class="small-12 medium-10 medium-offset-1 columns leadin">
      <p>You can have the most beautiful and healthy smile possible by taking advantage of the many services our team offers including cosmetic, restorative and preventative dentistry. Rest assured that when you visit this Bedford, Texas dentist, we will use the latest technology to provide you with the most comprehensive care available. Great care means a brilliant smile.</p>
      <hr>
    </div>
  </div>
</section>
<section class="services bp">
  <div class="row">
    <div class="small-10 small-offset-1 columns">
      <h2>Our Practice Services</h2>
      <h3>Services we provide</h3>
      <div class="small-12 medium-4 columns text-center">
        <img src="images/CosmeticIcon.svg" alt="Michael W. Bell, DDS, MAGD, LLSR Offers a wide range of cosmetic dentistry services." />
        <h4>Cosmetic Dentistry</h4>
        <p>Heal and enhance your smile, correct spaces, brighten your teeth and repair chips and breaks.</p>
        <a href="cosmetic-dentistry.html" class="button button-outline tiny">Learn More</a>
      </div>
      <div class="small-12 medium-4 columns text-center">
        <img src="images/PreventativeIcon.svg" alt="Michael W. Bell, DDS, MAGD, LLSR Offers a wide range of preventative dentistry services." />
        <h4>Preventative Dentistry</h4>
        <p>Already have a great smile? Keep it that way with our high quality preventative care services</p>
        <a href="preventative-dentistry.html" class="button button-outline tiny">Learn More</a>
      </div>
      <div class="small-12 medium-4 columns text-center">
        <img src="images/RestorativeIcon.svg" alt="Michael W. Bell, DDS, MAGD, LLSR Offers a wide range of restorative dentistry services." />
        <h4>Restorative Dentistry</h4>
        <p>Get back the brilliant smile you once had. Let us help you finde a younger healthier you.</p>
        <a href="restorative-dentistry.html" class="button button-outline tiny">Learn More</a>
      </div>
    </div>
  </div>
</section>
<section class="main-content">
  <div class="row">
    <div class="small-12 medium-10 medium-offset-1 columns leadin">
      <hr>
      <h2>Dental Technology</h2>
      <h3>Innovative Dentistry</h3>
      <p>Dental visits do not have to be a source of stress. At our dental office, your comfort and safety are the top priority for our caring dental team. We use the latest technology, equipment and techniques to ensure satisfaction and continued oral health.</p>
    </div>
  </div>
  <div class="row small-up-1 medium-up-3 technologies">
    <div class="column column-block">
      <h4>Digital X-Rays</h4>
      <p>Digital X-Ray technology can reduce exposure by as much as 90%. Images appear in under five seconds and can be enlarged for easier more detailed viewing.</p>
    </div>
    <div class="column column-block">
      <h4>Micro-Dentistry</h4>
      <p>Early cavity detection equals a less intrusive treatment. The DIAGNOdent® allows us to find previously undetectable cavities in their earliest stages. This small, portable laser unit allows us to detect and treat cavities the size of a pinhole.</p>
    </div>
    <div class="column column-block">
      <h4>Cosmetic Dentistry Planning</h4>
      <p>Using clinical information and computer imaging, we will help guide you to a plan for final treatment. Dr. Bell has had extensive training and experience and we assure you that the results will be beautiful!</p>
    </div>
    <div class="column column-block">
      <h4>Intraoral Camera</h4>
      <p>With this tiny camera we can show you the current conditions inside your mouth. The images are displayed on a video screen for educational purposes. Viewing this is always optional. Ask Dr. Bell or your hygienist if you are interested.</p>
    </div>
    <div class="column column-block">
      <h4>Dental Education System</h4>
      <p>The Caesy™ Educational System is the most advanced dental education system available. If you want to see how a procedure is done, we can play a short video illustration to help you understand.</p>
    </div>
    <div class="column column-block">
      <h4>Sedation Dentistry</h4>
      <p>Our office is designed with your comfort and relaxation in mind. We offer sedation dentistry for a very relaxing and anxiety-free experience. We offer oral and gas sedation depending on the treatment required. Ask for it on your next visit.</p>
    </div>
  </div>
</section>
{% include featured-services.html %}
<section class="quick-contact bp">
  {% include quick-connect.html %}
</section>
