---
layout: default
title: Preventative Dentistry
---
<section class="section-header">
  <h1>{{ page.title }}</h1>
  <div class="crumbs">
    <a href="index.html">Home</a> <span>+</span> <a href="our-services.html">Services</a> <span>+</span> {{ page.title }}
  </div>
</section>
<!-- <section class="main-image bp">
  Some image here.
</section> -->
<section class="main-content">
  <div class="row">
    <div class="small-12 medium-10 medium-offset-1 columns leadin">
      <h2>Preventative Dentistry</h2>
      <h3>Maintain That Beautiful Smile</h3>
      <p>Regular care through proper hygiene and advanced preventative dentistry can help you avoid most of the conditions that negatively affect your smile. <a href="contact-us.html" title="Contact Dr. Michael W. Bell DDS, MAGD, LLSR today.">Contact us today</a> to keep your smile looking beautiful with the most advanced and comprehensive care provided by Dr. Michael Bell and his team.</p>
    </div>
  </div>
  <div class="row small-up-1 medium-up-3 technologies">
    <hr>
    <div class="column column-block">
      <h4>Gum Therapy</h4>
      <p>Toxic bacteria from plaque can cause periodontal disease and gingivitis. If untreated, it will cause tooth loss and the breakdown of your soft tissues and bone. Through periodontal therapy, we can restore your gums and tissues to prevent further damage.</p>
    </div>
    <div class="column column-block">
      <h4>Root Canal</h4>
      <p>Trauma can cause damage to the nerve tissue inside your tooth. A root canal is needed to remove the infected and inflamed tissue. The discomfort involved with a root canal is minimal, especially compared to the pain you may feel before the procedure.</p>
    </div>
    <div class="column column-block">
      <h4>Fillings</h4>
      <p>Minor tooth decay, or cavities, can sometimes require a filling to prevent further destruction of the tooth. Traditionally, amalgam (silver) fillings were placed in the cleaned-out portion of the tooth. Now we use a tooth-colored resin to repair your tooth.</p>
    </div>
    <div class="column column-block">
      <h4>Nightguard</h4>
      <p>Gritting your teeth or clamping your jaw at night will cause your teeth to break, chip or crack. A custom-crafted nightguard can help eliminate these issues.</p>
    </div>
    <div class="column column-block">
      <h4>NTI</h4>
      <p>NTI is a system designed to eliminate tension and stress on your teeth and to prevent you from grinding your teeth together. Worn primarily at night, this device is small and fits snugly between your two upper front and two lower teeth.</p>
    </div>
  </div>
</section>
{% include featured-services.html %}
<section class="quick-contact bp">
  {% include quick-connect.html %}
</section>
