---
layout: default
title: Restorative Dentistry
---
<section class="section-header">
  <h1>{{ page.title }}</h1>
  <div class="crumbs">
    <a href="index.html">Home</a> <span>+</span> <a href="our-services.html">Services</a> <span>+</span> {{ page.title }}
  </div>
</section>
<!-- <section class="main-image bp">
  Some image here.
</section> -->
<section class="main-content">
  <div class="row">
    <div class="small-12 medium-10 medium-offset-1 columns leadin">
      <h2>Restorative Dentistry</h2>
      <h3>Restore Your Beautiful Smile</h3>
      <p>Injury, poor care or simply years of wear and tear can wreak havoc on the look and function of your teeth. Restore your teeth to their original brilliance through restorative dentistry. Why wait? Come in or <a href="contact-us.html" title="Contact Michael W. Bell, DDS, MAGD, LLSR today!">contact us today</a> to find a younger healthier smile.</p>
    </div>
  </div>
  <div class="row small-up-1 medium-up-3 technologies">
    <hr>
    <div class="column column-block">
      <h4>Crown</h4>
      <p>Crowns can restore your teeth to their original brilliance. After some tooth preparation, crowns are specially fitted to give you back the look and functionality of your smile.</p>
    </div>
    <div class="column column-block">
      <h4>Bridge</h4>
      <p>A bridge is made of two crowns for the teeth on either side of a gap with a tooth-like restoration in between. They are typically made of metals, alloys or porcelain. Porcelain makes the restoration look like real teeth in shape and color.</p>
    </div>
    <div class="column column-block">
      <h4>Inlays/Onlays</h4>
      <p>Repairing a decayed tooth can require more then just a filling. When apart of the tooth has to be removed, the removed portion is replaced with a porcelain onlay or inlay. They provide relief from chewing pain, cavity pain and tooth degeneration.</p>
    </div>
    <div class="column column-block">
      <h4>Implant Supported Crowns</h4>
      <p>A surgical grade titanium post is placed by one of the doctor’s trusted specialists. As the bone bonds to the post, it forms a secure foundation for the attachment of a crown or a prosthetic tooth that is custom created for you.</p>
    </div>
    <div class="column column-block">
      <h4>Implant Supported Dentures</h4>
      <p>Typical dentures require adhesive and can have problems such as shifting, gum sores, difficulty chewing and difficulty speaking. Implant supported dentures can solve these problems by distributing your biting pressure more like natural teeth.</p>
    </div>
    <div class="column column-block">
      <h4>Dentures</h4>
      <p>Our life-like dentures allow you to live a normal life even after you have lost your teeth. Advances in denture techniques and technology allow your removable dentures to fit better than ever.</p>
    </div>
    <div class="column column-block">
      <h4>Partial Dentures</h4>
      <p>Partial dentures are used if you have several teeth missing that cannot be corrected with a bridge. The denture is removable and designed to fit comfortably and blend in with any remaining teeth.</p>
    </div>
    <div class="column column-block">
      <h4>TMJ/TMD</h4>
      <p>Suffer from headaches, a popping jaw and pain in your jaw joints and muscles? TMJ, TMD or Temporomandibular Joint Disease, is a condition many people suffer from, but it can be treated. We will recommend a course of treatment to help alleviate your pain.</p>
    </div>
  </div>
</section>
{% include featured-services.html %}
<section class="quick-contact bp">
  {% include quick-connect.html %}
</section>
