<section class="featured-services">
  <div class="row">
    <div class="small-12 columns">
      <div class="row small-up-2 medium-up-5">
        <div class="column">
          <img src="images/bioclear.png" alt="Bioclear">
        </div>
        <div class="column">
          <img src="images/lumineer.png" alt="Lumineers">
        </div>
        <div class="column">
          <img src="images/kor.png" alt="KoR Whitening">
        </div>
        <div class="column">
          <img src="images/iTero.png" alt="iTero">
        </div>
        <div class="column">
          <img src="images/invisalign.png" alt="invisalign">
        </div>
      </div>
    </div>
  </div>
</section>
