    <footer>
      <div class="row">
        <div class="small-12 medium-3 columns">
          <h2>Navigation</h2>
          <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Our Team</a></li>
            <li><a href="">Smile Gallery</a></li>
            <li><a href="">Afford Your Smile</a></li>
            <li><a href="">Contact Us</a></li>
          </ul>
        </div>
        <div class="small-12 medium-3 columns">
          <h2>Social Media</h2>
          text
        </div>
        <div class="small-12 medium-6 columns">
          <h2>Contact Us</h2>
          <div class="row">
            <div class="small-12 medium-6 columns">
              text
            </div>
            <div class="small-12 medium-6 columns">
              text
            </div>
          </div>
        </div>
      </div>
      <div class="ftrext">
        <div class="row">
          <div class="small-12 medium-8 medium-offset-2 columns text-center">
            <p>Proudly serving dental patients from the communities of Bedford, Colleyville, Southlake, Westlake, Euless, Hurst, North Richland Hills, North Arlington and beyond.</p>
            <p>&copy; {{ 'now' | date: "%Y" }} Michael W. Bell, DDS, MAGD. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/app.min.js"></script>
  </body>
</html>
