    <footer>
      <div class="row">
        <div class="small-12 medium-3 columns">
          <h2>Navigation</h2>
          <ul>
            <li><a href="about-our-office.html" title="About Michael W. Bell, DDS, MAGD, LLSR">About Us</a></li>
            <li><a href="our-services.html" title="Our Dental Services">Services</a></li>
            <li><a href="smile-gallery.html" title="View Our Smile Gallery">Smile Gallery</a></li>
            <li><a href="afford-your-smile.html" title="Learn How We Can Help You Afford Your Smile">Afford Your Smile</a></li>
            <li><a href="faqs.html" title="View Our Frequently Asked Questions">FAQs</a></li>
            <li><a href="contact-us.html" title="Contact Michael W. Bell, DDS MAGD">Contact Us</a></li>
          </ul>
        </div>
        <div class="small-12 medium-3 columns social">
          <h2>Social Media</h2>
          <a href="https://www.facebook.com/Michael-W-Bell-DDS-90662152086/" title="Find us on Facebook" target="_blank"><i class="fa fa-facebook-square"></i></a>
        </div>
        <div class="small-12 medium-6 columns">
          <h2>Contact Us</h2>
            <div class="small-12 medium-6 columns">
              <div class="small-4 columns">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="small-8 columns">
                <p>308 Harwood Rd<br/>Bedford, TX 76021</p>
              </div>
              <div class="small-4 columns">
                <i class="fa fa-phone"></i>
              </div>
              <div class="small-8 columns">
                <p>(817) 282 1241</p>
              </div>
              <div class="small-4 columns">
                <i class="fa fa-envelope-o"></i>
              </div>
              <div class="small-8 columns">
                <p>info@michaelwbelldds.com</p>
              </div>
            </div>
            <div class="small-12 medium-6 columns">
              <div class="small-4 columns">
                <i class="fa fa-clock-o"></i>
              </div>
              <div class="small-8 columns">
                <p>Monday - Wednesday:<br/>8 am - 5 pm</p>
                <p>Thursday & Friday:<br />7am - 3pm</p>
              </div>
              <p style="float: right;"><a href="forms/new_patient_forms_updated.pdf" title="Download our New Patient forms" target="_blank" class="button button-reverse button-tiny">Download New Patient Forms</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="ftrext">
        <div class="row">
          <div class="small-12 medium-8 medium-offset-2 columns text-center">
            <p>Proudly serving dental patients from the communities of Bedford, Colleyville, Keller, Grapevine, Southlake, Westlake, Euless, Hurst, North Richland Hills, North Arlington and beyond.</p>
            <p>&copy; {{ 'now' | date: "%Y" }} Michael W. Bell, DDS, MAGD. All Rights Reserved. | <a href="forms/npp.pdf" target="_blank">Privacy Notice</a></p>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/app.min.js"></script>
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22390055-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  </body>
</html>
