<header>
  <div class="topbar">
    <div class="row">
      <div class="hide-for-small-only medium-6 columns small-text-center">
        <span><i class="fa fa-clock-o" aria-hidden="true"></i> Monday – Wednesday: 8 am – 5 pm | Thursday & Friday: 7 am – 3 pm</span>
      </div>
      <div class="hide-for-small-only medium-3 columns text-center">
        <span><i class="fa fa-map-marker" aria-hidden="true"></i> 308 Harwood Rd • Bedford, TX 76021</span>
      </div>
      <div class="hide-for-small-only medium-3 columns medium-text-right">
        <span><i class="fa fa-phone" aria-hidden="true"></i> (817) 282 1241</span>
      </div>
      <div class="show-for-small-only text-center small-12 columns">
        <a class="button button-orange">Give Us A Call</a>
      </div>
    </div>
  </div>
  <nav>
    <div class="row">
      <div class="small-12 columns">
        <div class="logo">
          <img src="images/michael-w-bell-logo.png" alt="Michael W. Bell, DDS, MAGD, LLSR" />
          <h2>Michael W. Bell</h2>
          <h3>DDS, MAGD, LLSR</h3>
        </div>
        <ul>
          <li><a href="" title="About Michael W. Bell, DDS, MAGD, LLSR">About Us</a></li>
          <li><a href="" title="Our Dental Services">Services</a></li>
          <li><a href="" title="View Our Smile Gallery">Smile Gallery</a></li>
          <li><a href="" title="Learn How We Can Help You Afford Your Smile">Afford Your Smile</a></li>
          <li><a href="" title="View Our Frequently Asked Questions">FAQs</a></li>
          <li><a href="" title="Contact Michael W. Bell, DDS MAGD">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
